---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sone's Portfolio">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-6 gap-4 mt-8">
      <div class="col-span-6 mx-auto text-4xl font-bold">About This Site</div>
      <div class="col-span-6">
        <div
          class="p-6 max-w-[50%] mx-auto grid justify-items-center items-center space-x-4 text-lg"
        >
          <div>
            ここはsoneのポートフォリオサイトです。<br />
            これまでに手掛けた制作物をまとめています。<br />
            少しでも興味を持っていただけるものがあれば嬉しいです。
          </div>
        </div>
      </div>

      <div class="col-span-6 mx-auto text-4xl font-bold mt-8">About Me</div>
      <div class="col-span-6">
        <div
          class="p-6 max-w-[50%] mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4"
        >
          <div>
            <img class="h-48 w-48" src="icon.png" alt="ChitChat Logo" />
          </div>
          <div>
            <div class="text-xl font-medium text-black text-3xl">sone</div>
            <p class="text-slate-500">Software Enginner</p>
            <div class="mt-6 flex flex-row">
              <a href="https://github.com/23110s">
                <img
                  class="h-8 w-8 hover:bg-blue-100 rounded-2xl"
                  src="github-fill.svg"
                /></a
              >
              <a href="https://twitter.com/23110s">
                <img
                  class="ml-2 h-8 w-8 hover:bg-blue-100 rounded-2xl"
                  src="twitter-fill.svg"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-6 mx-auto text-4xl font-bold mt-20">Works</div>
    </div>
  </div>
</Layout>
