---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-6 gap-4">
      <div class="col-span-6">header</div>
      <div class="col-span-6">
        top
        <div
          class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4"
        >
          <div class="shrink-0">
            <img class="h-12 w-12" src="/favicon.svg" alt="ChitChat Logo" />
          </div>
          <div>
            <div class="text-xl font-medium text-black">ChitChat</div>
            <p class="text-slate-500">You have a new message!</p>
          </div>
        </div>
      </div>
      <div class="col-span-6">about</div>
      <div class="col-span-6">artifact</div>
    </div>
  </div>
</Layout>
